#footer {
  margin-top: 0;
  background: url("../images/footer_bg.jpg") 0 -10px no-repeat $color11;
  border-top: 3px solid $color16;

  #page-bottom-links {
    background: $color6;
    position: relative;
    display: table;
    padding: 0;
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        display: inline;
        padding: 0 1.4em;
        line-height: 37px;
        a {
          font-size: 13px;
          font-family: $ubuntu;
          font-weight: 300;
          text-transform: uppercase;
          color: $color11;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    &:after,
    &:before {
      width: 0;
      height: 0;
      top: 0;
      content: "";
      position: absolute;
    }

    &:after {
      border-color: transparent $color11 transparent transparent;
      right: 0;
    }
    &:before {
      border-color: transparent transparent transparent $color11;
      left: 0;
    }
    @media all and (min-width: 960px) {
      &:after,
      &:before {
        border-style: solid;
      }
      &:after {
        border-width: 56px 17px 56px 0;
      }
      &:before {
        border-width: 56px 0 56px 17px;
      }
    }
  }
}

