.region-sidebar-second {

	.block__title {
	    background: $color14;
	    font-size: 12px;
	    margin: 0 0 5px;
	    padding: 5px 0;
	    text-align: center;
	}
	.block-layout a{
		color: $color15 !important;	
	}

}