//
// Colors
//
$color_white: #ffffff;
$color_black: #000000;
$color1: $color_black;
$color2: #fe6200;
$color3: #006796;
$color4: #323232;
$color5: #BABABA;


$color6: #534a3f;
$color7: #e84e39;
$color8: #f9f5e1;

$color9: #0b5876;

$color10: #f9f5e2;
$color11: #e1e0d7;
$color12: #655c53;
$color13: #534a3f;
$color14: rgba(200, 200, 200, 0.3);
$color15: #b0b0b0;
$color16: #bfbfb8;
$color17: #73726d;



// Old colors.
$grey1: #ececec;
$grey2: #a5a4a4;
$grey3: #e0dac6;
$gray4: #6c6457;
$blue1: #007aac;
$orange1: #faf3de;
$bg1: #faf3de;
$red1: #eb4e3a;