//Screen settings

$screen-mobile-min: 320px;
$screen-mobile-mid: 481px;
$screen-mobile-max: 640px;

$screen-mobile-max2: 767px;

$screen-tablet-min: 768px;
$screen-tablet-mid: 820px;
$screen-tablet-max: 959px;

$screen-desktop-min: 960px;
$screen-desktop-mid: 1120px;
$screen-desktop-max: $width-page;

