.view-sessions {
  .view-content {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    border: 1px solid #DDD;
    min-height: 0.01%;
    overflow-x: auto;
    .views-table {
      width: 100%;
      max-width: 100%;
      caption {
        padding-bottom: 10px;
        font-weight: bold;
      }
    }
  }
}